html, body{
    height: 100%;
    margin: 0 250px 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar-nav{
    display: flex;
    margin-left: 900px;
}

.row{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 5%;
}
.banniere{
   padding-left: 220px;
   padding-top: 75px;
   background-color: gray;
   justify-content: space-evenly;

}
.row{
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
h4{
    padding: 5%;
}

